
RewriteEngine On

# Permitir acesso a arquivos estáticos
RewriteCond %{REQUEST_URI} !\.(js|css|jpg|jpeg|png|gif|ico|woff|woff2|ttf|svg)$

# Redirecionar as demais requisições para o index.php
RewriteRule ^(.*)$ index.php [L]


php_value memory_limit 2048M
php_value max_input_vars 40000
php_flag display_startup_errors on
php_flag display_errors on
php_flag html_errors on
php_flag  log_errors on

<IfModule mod_headers.c>
   Header set P3P "policyref=\"/w3c/p3p.xml\", CP=\"IDC DSP COR ADM DEVi TAIi PSA PSD IVAi IVDi CONi HIS OUR IND CNT\""
 </IfModule>
